{% extends "layout.html" %}


{% block contenido %}

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h2>Crear Clientes</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputText" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputDate" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="inputDate">
      </div>
      <div class="col-md-6">
        <label for="inputText" class="form-label">Cédula de Ciudadania</label>
        <input type="text" class="form-control" id="inputText" placeholder="10750001">
      </div>
      <div class="col-md-6">
        <label for="inputstring" class="form-label">Teléfono</label>
        <input type="String" class="form-control" id="inputText" placeholder="3105040001">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Av, Cra, Calle o Trasnversal">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>

{% endblock %}





