{% extends "layout.html" %}


{% block contenido %}
    
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h2>Crear Producto</h2>   
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="descripcion">Código</label>
            <input type="text" class="form-control" id="codigo" placeholder="AAA00000" onblur= "validarCodigo()">
            <span class="alert alert-danger" role="alert" id= "errorCodigo" style= "display: none;"">Error: Compuesto de 3 letras mayúsculas y números</span>
          </div>
          <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" placeholder="Describa el producto (dato único)">
          </div>
          <div class="form-group col-md-6">
            <label for="cantidad_inventario">Cantidad Inventario</label>
            <input type="number" class="form-control" id="cantidad_inventario">
          </div>
          <div class="form-group col-md-6">
            <label for="precio_unitario">Precio Unitario</label>
            <input type="number" class="form-control" id="precio_unitario">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="unidad_medida">Unidad de Medida</label>
            <select id="unidad_medida" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="GRS">GRS</option>
              <option value="UND">UND</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="categoria">Categoria</label>
            <select id="categoria" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="1">Alimentos</option>
              <option value="2">Ropa</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>  
      <script type="text/javascript">
        function validarCodigo() {
          console.log("ingreso a la función validarCodigo"); 
          let campoCodigo = document.getElementById("codigo");
          let valorCodigo = campoCodigo.value;
          let errorCodigo = document.getElementById("errorCodigo");
          console.log("el valor del código es: " + valorCodigo);
          var expresionRegular = new RegExp("[A-Z]{3}[0-9]{1,}");
          if(expresionRegular.test(valorCodigo)) {
            console.log("El código ingresado es válido"); 
            errorCodigo.style.display = "none";
            } else {
            console.log("El código ingresado no es válido");
            errorCodigo.style.display = "block";  
            }
          }  
      </script>
      {% endblock %}





