{% extends "layout.html" %}

{% block contenido %}

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h1>Crear Usuarios</h1>    

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputText" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" id="inputText" placeholder="Nombre de pila">
    </div>
    <div class="col-md-6">
      <label for="inputText" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="inputText" placeholder="User">
    </div>
    <div class="col-md-6">
      <label for="inputText" class="form-label">Cédula de Ciudadania</label>
      <input type="text" class="form-control" id="inputText" placeholder="10750001">
    </div>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="Contraseña" placeholder="Aaaa000#" onblur = "validarContraseña()">
      <span class="alert alert-danger" role="alert" id= "errorContraseña" style= "display: none;"">Error: La contraseña debe tener minimo 8 caracteres, una mayúscula, una minuscula, un número y un carácter especial</span>
    </div>
    <div class="col-12">
      <label for="inputPassword" class="form-label">Código Empleado</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="id">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label"></label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Rol</label>
      <select id="inputState" class="form-select">
        <option selected>Admin</option>
        <option selected>User</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Guardar
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
  <script type="text/javascript">
    function validarContraseña() {
      console.log("ingreso a la función validarContraseña");
      let campoContraseña = document.getElementById("Contraseña");
      let valorContraseña = campoContraseña.value;
      let errorContraseña = document.getElementById("errorContraseña");
      console.log("el valor del campo de contraseña es: " + valorContraseña);
      var expresionRegular = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-=[\\]{};':\"\\\\|,.<>/?]).{8,20}$");
      if(expresionRegular.test(valorContraseña)) {
        console.log("El campo de contraseña ingresado es válido");
        errorContraseña.style.display = "none";
      } else {
        console.log("El campo de contraseña ingresado no es válido");
        errorContraseña.style.display = "block";
      }
    }
  </script>
  {% endblock %}
