{% extends "layout.html" %}


{% block contenido %}
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h2>Listado de Clientes</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Cédula de Ciudadania</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Alexander González Becerra</td>
            <td>18/04/1984</td>
            <td>80543944</td>
            <td>3105053015</td>
            <td>Transversal 6 # 4-57</td>
            <td>Sopó Cundinamarca</td>
            <td>
              <button type="button" class="btn btn-success">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Marlon Rodríguez Vanegas</td>
            <td>18/09/2001</td>
            <td>1072544824</td>
            <td>3108734525</td>
            <td>Cra 8 # 2-98</td>
            <td>Bogotá</td>
            <td>
              <button type="button" class="btn btn-success">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      {% endblock %}

